[resources]
less[] = "blocks/hero-image.less"
==
<!-- Home Section Starts -->
<section id="home" class="active">
    <!-- Text Rotator Starts -->
    <div class="main-text-container">
        <div class="main-text" id="selector">
            <h3>{{ block.heading }}</h3>
            <h1 class="ah-headline">
                I'm
                <span class="ah-words-wrapper">
                    {% for item in block.scrolling_text %}

                        <b class="{{ loop.first ? 'is-visible' : null }}">{{ item.text }}</b>
        				
                    {% endfor %}
                </span>
            </h1>
            <p>{{ block.paragraph }}</p>
            <div class="call-to-actions-home">
                <div class="text-left">
                    <a href="{{ block.first_button_link }}" class="btn link-portfolio-one"><span><i class="fa fa-user"></i>{{ block.first_button_text }}</span></a>
                    <a href="{{ block.second_button_link }}" class="btn btn-secondary link-portfolio-two"><span><i
                                class="fa fa-suitcase"></i>{{ block.second_button_text }}</span></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Text Rotator Ends -->
</section>
<!-- Home Section Ends -->