<!-- Portfolio Section Starts -->
<section id="work">
    <div class="portfolio-container">
        <!-- Main Heading Starts -->
        <div class="container page-title text-center">
            <h2 class="text-center">my <span>portfolio</span></h2>
            <span class="title-head-subtitle">a few recent design and coding projects. Want to see more?
                Email me.</span>
        </div>
        <!-- Main Heading Ends -->
        <div class="portfolio-section">
            <div class="container cd-container">
                <div>
                    <!-- Portfolio Items Starts -->
                    <ul class="row" id="portfolio-items">
                        <!-- Portfolio Item Starts -->
                        <li class="col-12 col-md-6 col-lg-4">
                            <a href="#0" data-type="project-1">
                                <img src="{{ 'assets/img/projects/project-1.jpg' | theme }}" alt="Project" class="img-fluid">
                                <div><span>Image Format</span>
                                </div>
                            </a>
                        </li>
                        <!-- Portfolio Item Ends -->
                        <!-- Portfolio Item Starts -->
                        <li class="col-12 col-md-6 col-lg-4">
                            <a href="#0" data-type="project-2">
                                <img src="{{ 'assets/img/projects/project-2.jpg' | theme }}" alt="Project" class="img-fluid">
                                <div><span>Youtube Format</span>
                                </div>
                            </a>
                        </li>
                        <!-- Portfolio Item Ends -->
                        <!-- Portfolio Item Starts -->
                        <li class="col-12 col-md-6 col-lg-4">
                            <a href="#0" data-type="project-3">
                                <img src="{{ 'assets/img/projects/project-8.jpg' | theme }}" alt="Project" class="img-fluid">
                                <div><span>Slider Format</span>
                                </div>
                            </a>
                        </li>
                        <!-- Portfolio Item Ends -->
                        <!-- Portfolio Item Starts -->
                        <li class="col-12 col-md-6 col-lg-4">
                            <a href="#0" data-type="project-4">
                                <img src="{{ 'assets/img/projects/project-6.jpg' | theme }}" alt="Project" class="img-fluid">
                                <div><span>Video Format</span>
                                </div>
                            </a>
                        </li>
                        <!-- Portfolio Item Ends -->
                        <!-- Portfolio Item Starts -->
                        <li class="col-12 col-md-6 col-lg-4">
                            <a href="#0" data-type="project-5">
                                <img src="{{ 'assets/img/projects/project-5.jpg' | theme }}" alt="Project" class="img-fluid">
                                <div><span>Image Format</span>
                                </div>
                            </a>
                        </li>
                        <!-- Portfolio Item Ends -->
                        <!-- Portfolio Item Starts -->
                        <li class="col-12 col-md-6 col-lg-4">
                            <a href="#0" data-type="project-6">
                                <img src="{{ 'assets/img/projects/project-4.jpg' | theme }}" alt="Project" class="img-fluid">
                                <div><span>Image Format</span>
                                </div>
                            </a>
                        </li>
                        <!-- Portfolio Item Ends -->
                        <!-- Portfolio Item Starts -->
                        <li class="col-12 col-md-6 col-lg-4">
                            <a href="#0" data-type="project-7">
                                <img src="{{ 'assets/img/projects/project-7.jpg' | theme }}" alt="Project" class="img-fluid">
                                <div><span>Image Format</span>
                                </div>
                            </a>
                        </li>
                        <!-- Portfolio Item Ends -->
                        <!-- Portfolio Item Starts -->
                        <li class="col-12 col-md-6 col-lg-4">
                            <a href="#0" data-type="project-8">
                                <img src="{{ 'assets/img/projects/project-3.jpg' | theme }}" alt="Project" class="img-fluid">
                                <div><span>Image Format</span>
                                </div>
                            </a>
                        </li>
                        <!-- Portfolio Item Ends -->
                        <!-- Portfolio Item Starts -->
                        <li class="col-12 col-md-6 col-lg-4">
                            <a href="#0" data-type="project-9">
                                <img src="{{ 'assets/img/projects/project-9.jpg' | theme }}" alt="Project" class="img-fluid">
                                <div><span>Image Format</span>
                                </div>
                            </a>
                        </li>
                        <!-- Portfolio Item Ends -->
                    </ul>
                    <!-- Portfolio Items Ends -->
                </div>
            </div>
        </div>
        <!-- PORTFOLIO OVERLAY STARTS -->
        <div class="portfolio-overlay"></div>
        <!-- PORTFOLIO OVERLAY ENDS -->
    </div>
    <!-- Portfolio Project Content Starts -->
    <div class="project-info-container project-1">
        <!-- Main Content Starts -->
        <div class="project-info-main-content">
            <img src="{{ 'assets/img/projects/project-1.jpg' | theme }}" alt="Project Image">
        </div>
        <!-- Main Content Ends -->
        <!-- Project Details Starts -->
        <div class="projects-info row">
            <div class="col-12 col-sm-6 p-none">
                <h3 class="font-weight-600 uppercase">Image Format</h3>
                <ul class="project-details">
                    <li><i class="fa fa-file-text-o"></i><span class="font-weight-400 project-label">
                            Project </span>: <span class="font-weight-600 uppercase">Website</span>
                    </li>
                    <li><i class="fa fa-user-o"></i><span class="font-weight-400 project-label"> Client
                        </span>: <span class="font-weight-600 uppercase">Envato</span>
                    </li>
                    <li><i class="fa fa-hourglass-o"></i><span class="font-weight-400 project-label">
                            Duration </span>: <span class="font-weight-600 uppercase">3 months</span>
                    </li>
                    <li><i class="fa fa-code"></i> <span class="font-weight-400 project-label">
                            Technologies</span> : <span class="font-weight-600 uppercase">html,
                            javascript</span>
                    </li>
                    <li><i class="fa fa-money"></i> <span class="font-weight-400 project-label">
                            Budget</span> : <span class="font-weight-600 uppercase">1550 USD</span>
                    </li>
                </ul>
                <a href="#" class="btn"><span><i class="fa fa-external-link"></i>preview</span></a>
            </div>
            <div class="col-6 p-none text-right">
                <a href="#" class="btn btn-secondary close-project"><span><i
                            class="fa fa-close"></i>Close</span></a>
            </div>
        </div>
        <!-- Project Details Ends -->
    </div>
    <!-- Portfolio Project Content Ends -->
</section>