

<!-- Template JS Files -->
<script src="{{ 'assets/js/jquery-2.2.4.min.js' | theme }}"></script>
<script src="{{ 'assets/js/jquery.animatedheadline.js' | theme }}"></script>
<script src="{{ 'assets/js/bootstrap.min.js' | theme }}"></script>
<script src="{{ 'assets/js/transition.js' | theme }}"></script>
<!-- Live Style Switcher JS File - only demo -->
<script src="{{ 'assets/js/styleswitcher.js' | theme }}"></script>
<!-- Main JS Initialization File -->
<script src="{{ 'assets/js/custom.js' | theme }}"></script>

{% framework extras %}
{% scripts %}
